body, td, p {
	color: #333333;
	font: 14px Verdana;
	line-height: 18px;
}

.indexContent {
	font: 14px Verdana;
	line-height: 21px;
}

.siteName {
	font: bold 18px Georgia;
	color: #333333;
	padding : 20 20 20 40;
	background-color : #EEEEEE;
}


a:link, a:active, a:visited {
	text-decoration : none;
	color: #333333;
	font: italic 14px Verdana;
}

a:hover {
	color: #888888;
	text-decoration : underline;
}

a.menu:link, a.menu:active, a.menu:visited {
	font: bold 16px Georgia;
	color: #333333;
	text-decoration : none;
	line-height : 32px;
}

a.menu:hover {
	color: #888888;
	text-decoration : none;
}

a.chibi:link, a.chibi:active, a.chibi:visited {
	font: bold 14px Calibri;
	color: #7030A0;
	text-decoration : none;
	line-height : 14px;
}

a.chibi:hover {
	color: #7030A0;
	text-decoration : none;
}

.contentTitle {
	color: #333333;
	font: bold 14px Verdana;
	text-transform: uppercase;
}

