*.git
files_not_in_git/*
presentations/ASMS2010/Tuesday_Hall_4_AM_Fenyo.avi
presentations/ASMS2010/Tuesday_Hall_4_AM_Fenyo_ASMS.flv
presentations/ASMS2012/TOA_am_Eriksson.mp4
presentations/ASMS2012/TOA_pm_Fenyo.mp4