
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Cancer Biology">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Gynecological cancers:</b> We apply multiomics integration methods to better understand 
      the tumor biology of gynecological cancers. In collaboration with 
      NCI's Clinical Tumor Analysis Consortyium (CPTAC) we have described the 
      proteogenomic landscape of endometrial cancer
      (<i><u><a href="https://doi.org/10.1016/j.cell.2020.01.026" target="_blank">Dou & Kawaler et al. Cell 2020</a></u></i>,
      <i><u><a href="https://doi.org/10.1016/j.ccell.2023.07.007" target="_blank">Dou & Katsnelson et al. Cancer Cell 2023</a></u></i>), and
      ovarian oancer
      (<i><u><a href="https://doi.org/10.1016/j.cell.2016.05.069" target="_blank">Zhang et al., Cell 2016</a></u></i>, 
<i><u><a href="https://doi.org/10.1016/j.cell.2024.01.016" target="_blank">Chowdhury et al., Cell 2024</a></u></i>).
      We have integrated proteogenomics with histopathology imaging data for endometrial cancer using deep learning 
      (<i><u><a href="https://doi.org/10.1016/j.xcrm.2021.100400" target="_blank">Hong et al. Cell Reports Medicine 2021</a></u></i>.
      We have also investigated the role of retrotransposons in endometrial and ovarian tumor biology and 
      its relationship to p53 mutation, copy number alteration, and S phase checkpoint
      (<i><u><a href="https://doi.org/10.1073/pnas.2115999119" target="_blank">McKerrow et al. PNAS 2021</a></u></i>). 
      We are currently investigating the relationship between the tumor microenvironment and 
      the success of immune checkpoint inhibition therapy in endometrial and cervical cancer using 
      spatial omics approaches.

    </p>
    <div class="flex-none">
    </div>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Lung Cancer:</b> We are applying multi-omics integration methods and deep learning to investigate the biology of non-small cell lung cancer 
      (<i><u><a href="https://doi.org/10.1016/j.cell.2020.06.013" target="_blank">Gillette al., Cell 2020</a></u></i>,
      <i><u><a href="https://doi.org/10.1016/j.cell.2021.07.016" target="_blank">Satpathy et al., Cell 2021</a></u></i>,
      <i><u><a href="https://pubmed.ncbi.nlm.nih.gov/?term=fenyo_d%5Bauthor%5D+lung%5Btitle%5D&sort=date" target="_blank">PubMed</a></u></i>).
In small cell lung cancer we are studying how high levels of DNA replication stress creates vulnerabilities that can be therapeutically exploited.
    </p>
  </div>

  
  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      In collaboration with the Clinical Tumor Analysis Consortyium (CPTAC) 
      and the International Cancer Proteogenome Consortium (ICPC), we apply 
      multiomics integration methods to define the proteomic landscape across tumor types with the goal of increasing our understanding of tumor biology: 

<b>breast cancer</b> 
(<i><u><a href="https://doi.org/10.1038/nature18003" target="_blank">Mertins et al., Nature 2016</a></u></i>, 
<i><u><a href="https://linkinghub.elsevier.com/retrieve/pii/S0092-8674(20)31400-8" target="_blank">Krug et al., Cell 2020</a></u></i>,
<i><u><a href="https://pubmed.ncbi.nlm.nih.gov/?term=fenyo_d%5Bauthor%5D+breast%5Btitle%5D&sort=date" target="_blank">PubMed</a></u></i>),

<b>melanoma</b> 
(<i><u><a href="https://doi.org/10.1101/2023.09.29.559755" target="_blank">Kuras et al., bioRxixv 2023</a></u></i>,
<i><u><a href="https://doi.org/10.1002%2Fctm2.451" target="_blank">Betancourt et al., Clin Transl Med. 2021</a></u></i>,
<i><u><a href="https://pubmed.ncbi.nlm.nih.gov/?term=fenyo_d%5Bauthor%5D+melanoma%5Btitle%5D&sort=date" target="_blank">PubMed</a></u></i>),

<b>brain cancer</b> 
(<i><u><a href="https://doi.org/10.1016/j.cell.2020.10.044" target="_blank">Petralia et al., Cell 2020</a></u></i>,
<i><u><a href="https://doi.org/10.1016/j.ccell.2021.01.006" target="_blank">Wang et al., Cancer Cell 2021</a></u></i>,
<i><u><a href="https://doi.org/10.1016/j.ccell.2024.06.004" target="_blank">Liu et al , Cancer Cell 2024</a></u></i>),

<b>kidney cancer</b> 
(<i><u><a href="https://doi.org/10.1016/j.cell.2019.12.026" target="_blank">Clark et al., Cell 2020</a></u></i>,
<i><u><a href="https://doi.org/10.1016/j.ccell.2022.12.001" target="_blank">Li et al., Cancer Cell 2023</a></u></i>),

<b>pancreatic cancer</b> 
(<i><u><a href="https://doi.org/10.1016/j.cell.2021.08.023" target="_blank">Cao et al., Cell 2021</a></u></i>),


We are also exploring the similarities between cancer types through
<b>pan-camcer analysis:</b> we have integrated proteogenomics data with histology across cancer types using deep learning 
(<i><u><a href="https://doi.org/10.1016/j.xcrm.2023.101173" target="_blank">Wang et al., Cell Reports Medicine 2023</a></u></i>), explored how aneuploidy is associated with different modes of gene regulation (<i><u><a href="https://doi.org/10.7554/eLife.75227 " target="_blank">Cheng et al., eLife 2022</a></u></i>),
studied HLA expression at the transcript and protein levels across tumor types
(<i><u><a href="https://doi.org/10.1021/acs.jproteome.3c00491" target="_blank">Wang et al., JPR 2023</a></u></i>),
and explored the immune landscape of tumors 
(<i><u><a href="https://doi.org/10.1016/j.cell.2024.01.027" target="_blank">Petralia et al., Cell 2024</a></u></i>).

    </p>
    <div class="flex-none">
    </div>
  </div>

</Layout>
