
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Genomics">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Replication:</b> We developed a method for analyzing Okazaki fragment sequencing (Ok-seq) 
      data to quantitatively determine replication initiation and termination frequencies and to
      study genome-wide replication fork directionality 
      (<i><u><a href="https://doi.org/10.1038/s41596-020-00454-5" target="_blank">Kit Leng Lui & Keegan et al., Nature Protocols 2021</a></u></i>). 
      We applied this methods to study how transcription shapes DNA replication initiation and termination in human cells 
      (<i><u><a href="https://doi.org/10.1038/s41594-018-0171-0" target="_blank">Chen & Keegan et al., Nature Structural & Molecular Biology 2019</a></u></i>), 
      DNA replication stress and genomic instability
      (<i><u><a href="https://doi.org/10.1038/s41467-022-29369-3" target="_blank">Coleman & Yin et al., Nature Communications 2022</a></u></i>), and
      how dormant origin firing promotes head-on transcription-replication conflicts at 
      transcription termination sites in response to BRCA2 deficiency
      (<i><u><a href="https://doi.org/10.1038/s41467-024-48286-1" target="_blank">Goehring et al., Nature Communications 2024</a></u></i>)

    </p>
    <div class="flex-none">
    </div>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
    </div>
    <p class="text-justify leading-tight text-sm">
      <b><a href="retrotransposition">Retrotransposons:</a></b> We are developing algorithms for analyzing retrotransposons, 
      mobile DNA elements that make up a large portion of our genome and are able to through an RNA intermediary insert 
      themselves into new genomic loci, including: (i) TIPseqHunter, a machine-learning-based pipeline for detection of novel LINE-1 insertions using targeted sequencing 
      (<i><u><a href="https://doi.org/10.1073/pnas.1619797114" target="_blank">Tang et al. PNAS 2019</a></u></i>, 
      <i><u><a href="https://doi.org/10.1093/bioinformatics/btaa244" target="_blank">Grivainis et al. Bioinformatics 2020</a></u></i>), 
      (ii) L1EM, a method for loci specific quantitation of full length LINE-1 transcripts that uses 
      the expectation maximization algorithm to quantify LINE-1 RNA at each genomic locus, 
      separating transcripts that are capable of generating retrotransposition from those that are not 
      (<i><u><a href="https://doi.org/10.1093/bioinformatics/btz724" target="_blank">McKerrow et al. Bioinformatics 2020</a></u></i>)
      (iii) scL1seq, a method for quantifying LINE-1 transcripts in 5' single-cell RNA-Seq data (<i><u><a href="https://doi.org/10.1093/nar/gkad049" target="_blank">McKerrow et al. NAR 2023</a></u></i>) and detecting novel insertions. 
      (<i><u><a href="retrotransposition">more ...</a></u></i>)
    </p>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Synthetic Biology:</b> We are participating in 
      <i><u><a href="https://www.thedarkmatterproject.org/" target="_blank">The Dark Matter Project</a></u></i> 
      which aims to decipher the function of the non-coding genome. 
    </p>
    <div class="flex-none">
    </div>
  </div>

</Layout>
