
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Histology and spatial omics">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Deep learning applied to histopathology:</b> We apply deep learning methods to analyze tissue images and to integrate them with multi-omic and clinical data. 
Taking advantage of the multi-resolution nature of the whole slide H&E images, we introduced a customized deep convolutional neural network architecture, Panoptes, to integrate features of different magnifications 
(<i><u><a href="https://doi.org/10.1016/j.xcrm.2021.100400" target="_blank">Hong et al., Cell Reports Medicine 2021</a></u></i>). 
We have applied Panoptes to predict subtypes and molecular features for endometrial cancer, STK11 mutations in lung adenocarcinoma, as well as immune response, the CpG island methylator phenotype and telomere length in glioblastoma.
We have also integrated histopathology and proteogenomics at a pan-cancer level 
      (<i><u><a href="https://doi.org/10.1016/j.xcrm.2023.101173" target="_blank">Wang et al., Cell Reports Medicine 2023</a></u></i>).
    </p>
    <div class="flex-none">
    </div>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Spatial omics:</b> We have developed a method, CANVAS, for characterization of 
      tissue heterogeneity through segmentation-free representation learning and applied it to high-dimensional spatial omics data 
      (<i><u><a href="https://doi.org/10.1101/2024.09.05.611431" target="_blank">Tan et al., bioRxiv 2024</a></u></i>). 
      CANVAS uses a self-supervised machine learning approach based on vision transformers and masked imaging modeling, 
      where a large portion of the image is removed and the remaining image is 
      used to reconstruct the original image.
      We are applying CANVAS to analyze mass cytometry and mass spectrometry imaging data of lung cancer, 
      and to multiplexed immunoflourescence data of endometrial and cervical cancer.
    </p>
  </div>

</Layout>
