
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Image Analysis">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Interactions:</b> We developed a method for quantifying molecular interactions using 
      stochastic modelling and super-resolution microscopy
      (<i><u><a href="https://doi.org/10.1038/s41598-017-14922-8" target="_blank">Bermudez-Hernandez & Keegan et al., Scientific Reports 2017</a></u></i>).
    </p>
    <div class="flex-none">
      
    </div>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
      
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Deep learning applied to histopathology:</b> We apply deep learning methods to analyze tissue images and to integrate multi-omic data. 
      We have developed models to predict endometrial cancer subtypes and molecular features from histopathology 
      images using a multi-resolution models 
      (<i><u><a href="https://doi.org/10.1016/j.xcrm.2021.100400" target="_blank">Hong et al., Cell Reports Medicine 2021</a></u></i>), 
      and to integrate histopathology and proteogenomics at a pan-cancer level 
      (<i><u><a href="https://doi.org/10.1016/j.xcrm.2023.101173" target="_blank">Wang et al., Cell Reports Medicine 2023</a></u></i>)
       
    </p>
  </div>

</Layout>
