---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research">

  <div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/integration.png"
        alt="A heatmap showing how integrative data can be visualized and analyzed"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Multiomics integration:</b> With the cost of deep sequencing and mass spectrometric 
      analysis decreasing rapidly, it has become feasible to characterize a large number of 
      patient samples by sequencing their genome, transcriptome, proteome, phosphoproteome 
      and metabolome. We have developed proteogenomic integration methods and applied these 
      methods across many cancers to better understand the underlying tumor biology, and to 
      find vulnerabilities that can be exploited in the treatment of patients. 
    </p>
  </div>

<div class="flex items-center gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
    <b>Histology and spatial omics:</b> To fully understand biological processes in healthy and 
    diseased tissue, we need to study its spatial structure as it is integral to tissue function. 
    There is a fast improvement in spatial omics technologies that can produce high quality data. 
    We are developing computational methods to better utilize these high dimensional spatial data sets.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/spatial-omics.jpg"
        alt="Spatial Omics"
      />
    </div>
</div>
  
  
<div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/cancer-biology.png"
        alt="Endometrial Cancer"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
    <b>Cancer biology</b>: With a focus on gynecological and lung cancers, we aim to discover and verify 
    biomarkers and therapeutic targets by integrating multi-modal data—including multi-omics, 
    imaging and electronic health record data—with an ultimate goal of improving patient treatment.
    </p>
</div>

<div class="flex items-center gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
    <b>Retrotransposons</b> are mobile DNA elements within our genome that can copy and paste themselves 
    into new locations in the genome and can potentially disrupt normal cellular function, and 
    therefore mechanisms suppressing retrotransposition are active in healthy cells, but in many 
    tumors this suppression mechanism is disrupted. We have developed data analysis methods for 
    studying the LINE-1 retrotransposon throughout its lifecycle and we are applying these methods 
    to study the role of retrotransposition in tumors, aging and embryos.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/retrotransposition.jpg"
        alt="The LINE-1 retrotransposon lifecycle"
      />
    </div>
</div>

  <div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/proteomics.png"
        alt="A plot suggesting a comparison of histograms for identification"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      Data analysis methods for <b>genomics and proteomics:</b> 
      We are developing methods for 
      analyzing sequencing data to study replication and quantify retrotransposon expression, and for 
      mass spectrometry data to identify, quantify, characterize and verify proteins;
    </p>
  </div>


  <div class="flex items-center gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Modeling and Simulation of biological systems:</b> We develop models of biological systems and use
      computer simulations to test the models and compare them to experimental
      data.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/simulation.png"
        alt="A plot showing simulated data compared to experimental data"
      />
    </div>
  </div>
</Layout>
