
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research">

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/integration.png"
        alt="A heatmap showing how integrative data can be visualized and analyzed"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Multiomics integration:</b> With the cost of deep sequencing and mass spectrometric 
      analysis decreasing rapidly, it has become feasible to characterize a large number of 
      patient samples by sequencing their genome, transcriptome, proteome, phosphoproteome 
      and metabolome. We have developed proteogenomic integration methods and applied these 
      methods across many cancers to better understand the underlying tumor biology, and to 
      find vulnerabilities that can be exploited in the treatment of patients. 
    </p>
  </div>

  <div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/proteomics.png"
        alt="A plot suggesting a comparison of histograms for identification"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Mass spectrometry based proteomics</b> is widely used in biological research. 
      We have developed methods for protein identification, quantitation, and for validation 
      of the results, including algorithms for for finding and integrating mass spectrometric 
      peptide peaks, detecting interference to obtain a robust measure of the amount of 
      proteins present in samples, searching protein sequence collections and spectral 
      libraries as well as validation of the results using expectation values.
    </p>
  </div>


  <div class="flex items-center gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Modeling and Simulation of biological systems:</b> We develop models of biological systems and use
      computer simulations to test the models and compare them to experimental
      data.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/simulation.png"
        alt="A plot showing simulated data compared to experimental data"
      />
    </div>
  </div>
</Layout>
