
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Multiomics Integration">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
    Measurements of DNA, RNA, proteins and their modifications, and metabolites provide complementary information about a biological system. Omics data sets are typically noisy and have missing valves making integration challenging. We are approaching this challenge in many different ways.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/integration.png"
        alt="A heatmap showing how integrative data can be visualized and analyzed"
      />
    </div>
  </div>

  
  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Tools for proteogenomic integration:</b>
      We have developed proteogenomic integration methods including: 

       <b>QUILTS</b> for generating tumor-specific protein sequence databases using the 
      observed DNA and RNA sequence variation
(<i><u><a href="https://doi.org/10.1074/mcp.M115.056226" target="_blank">Ruggles et al., MCP 20016</a></u></i>,
<i><u><a href="https://github.com/ruggleslab/pyQUILTS" target="_blank">GitHub</a></u></i>),

   <b>PGx</b> for mapping peptide sequences onto putative genomic coordinates 
(<i><u><a href="https://doi.org/10.1021/acs.jproteome.5b00870" target="_blank">Askenazi et al., JPR 2015</a></u></i>,
<i><u><a href="https://github.com/FenyoLab/PGx" target="_blank">GitHub</a></u></i>),

  <b>LlamaMagic</b> for sequencing high-affinity single-chain llama antibodies 
(<i><u><a href="https://doi.org/10.1038/nmeth.3170" target="_blank">Fridy et al., Nature Methods 2014</a></u></i>,
<i><u><a href="https://github.com/FenyoLab/Llama_Nanobodies" target="_blank">GitHub</a></u></i>),

        <b>BlackSheep</b> for differential extreme value analysis
(<i><u><a href="https://doi.org/10.1021/acs.jproteome.1c00190" target="_blank">Blumenberg et al., JPR 2021</a></u></i>,
<i><u><a href="https://github.com/ruggleslab/blackSheep" target="_blank">GitHub</a></u></i),

   a method based on  <b>independent component analysis</b> for extracting signatures
(<i><u><a href="https://doi.org/10.1074/mcp.TIR119.001442" target="_blank">Liu et al., MCP 2019</a></u></i>),

<b>PhosphoDisco</b> for discovery of co-regulated phosphorylation modules in phosphoproteomic data
(<i><u><a href="https://doi.org/10.1016/j.mcpro.2023.100596" target="_blank">Schraink et al., MCP 2021</a></u></i>), and 

<b>Panoptes</b> deep learning methods for integrating proteogenomics and histopathology
(<i><u><a href="https://doi.org/10.1016/j.xcrm.2022.100666" target="_blank">Hong et al., Cell Reports Medicine 2021</a></u></i>,
<i><u><a href="https://doi.org/10.1016/j.xcrm.2023.101173" target="_blank">Wang et al., Cell Reports Medicine 2023</a></u></i>),
      
    </p>
  </div>

  
  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Cancer:</b>
    </p>
    <div class="flex-none">
    </div>
  </div>


  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Antibodies:</b> We used proteogenomics integration strategies to determine the amino acid sequences of disease-specific antibodies in patients infected with HIV
(<i><u><a href="https://doi.org/10.1126/science.1207227" target="_blank">Scheid et al., Science 2011</a></u></i>),
and malaria
(<i><u><a href="https://doi.org/10.1084/jem.20121970" target="_blank">Muellenbeck et al., J. Exp. Med. 2013</a></u></i>), and for producing large repertoires of antibodies, single-domain antibodies derived from the variable regions of Camelidae atypical immunoglobulinssingle, against two antigens, GFP and mCherry 
(<i><u><a href="https://doi.org/10.1038/nmeth.3170" target="_blank">Friday et al., Nature Methods 2014</a></u></i>), 
and SARS-CoV-2
(<i><u><a href="https://doi.org/10.7554/eLife.73027 " target="_blank">Mast et al., eLife 2021</a></u></i>). 

    </p>
  </div>


</Layout>


(<i><u><a href="" target="_blank"></a></u></i>),
