
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Proteomics">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Mass spectrometry based proteomics</b> is widely used in biological research. 
      We have developed methods for protein identification, quantitation, and for validation 
      of the results, including algorithms for for finding and integrating mass spectrometric 
      peptide peaks, detecting interference to obtain a robust measure of the amount of 
      proteins present in samples, searching protein sequence collections and spectral 
      libraries as well as validation of the results using expectation values.
    </p>
    <div class="flex-none">
      <img
        src="/images/research/blank.jpg"
        alt=" "
      />
    </div>
  </div>

</Layout>
