
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: Retrotransposition">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      Retrotransposons are mobile DNA elements in our genome that can copy and paste themselves 
      to new genomic locations via an RNA intermediate. The Long Interspersed Element-1 (LINE-1) 
      is the only protein coding mobile DNA element known to be capable of retrotransposition in humans. 
      LINE-1 elements make up 17% of the human genome, albeit most of the ~500,000 copies are truncated 
      and inactive. However, there are 80-100 loci with full-length retrotransposition competent elements 
      that code for two proteins, ORF1p an RNA binding protein and ORF2p with endonuclease and reverse 
      transcriptase activity. LINE-1 activity is comprised of transcription, translation of the two ORFs, 
      formation of ribonucleoprotein particles containing the LINE-1 mRNA, ORFp and ORF2p, import into 
      the nucleus, and through target-primed reverse transcription, the creation of new LINE-1 insertions 
      that often are truncated. Because of the potential damage from LINE-1 activity, it is in general transcriptionally silenced 
      in somatic cells through DNA methylation and the formation of heterochromatin, but silencing is weaker 
      in  germ cells and during early embryonic development and aging, and can be lost in some disease states, including cancer, and, potentially, some 
      neurodegenerative diseases. There are still many open questions regarding LINE-1 biology.
    </p>
    <div class="flex-none">
      
    </div>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
      
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Tools:</b> We have developed data analysis methods for studying the LINE-1 retrotransposon 
      throughout its lifecycle: 
      (i) regulation of LINE-1 transcription by transcription factors (<i><u><a href="https://doi.org/10.1073/pnas.1722565115" target="_blank">Sun et al. PNAS 2018</a></u></i>); 
      (ii) loci specific quantitation of full length LINE-1 transcripts (<i><u><a href="https://doi.org/10.1093/bioinformatics/btz724" target="_blank">McKerrow et al. Bioinformatics 2020</a></u></i>); 
      (iii) quantitation of LINE-1 proteins (<i><u><a href="https://doi.org/10.1073/pnas.2115999119" target="_blank">McKerrow et al. PNAS 2021</a></u></i>, <i><u><a href="https://doi.org/10.1186/s13100-019-0191-2" target="_blank">Ardeljan et al. Mobile DNA 2019</a></u></i>); 
      (iv) cataloging protein and RNA interactors of LINE-1 proteins (<i><u><a href="https://doi.org/10.1186/s13100-021-00233-3" target="_blank">Briggs et al. Mobile DNA 2021</a></u></i>); 
      (iv) detection of novel LINE-1 insertions using targeted sequencing (<i><u><a href="https://doi.org/10.1073/pnas.1619797114" target="_blank">Tang et al. PNAS 2019</a></u></i>, <i><u><a href="https://doi.org/10.1093/bioinformatics/btaa244" target="_blank">Grivainis et al. Bioinformatics 2020</a></u></i>). 
      We have also developed methods with single-cell specificity for 
      quantifying LINE-1 transcripts (<i><u><a href="https://doi.org/10.1093/nar/gkad049" target="_blank">McKerrow et al. NAR 2023</a></u></i>) and detecting novel insertions (<i><u><a href="https://doi.org/10.1098/rstb.2019.0335" target="_blank">McKerrow et al. Phil. Trans. R. Soc. B 2020</a></u></i>). 
    </p>
  </div>

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>Retrotransposition in cancer:</b> The relationship between LINE-1 and human disease has been 
      most extensively studied in cancer, where LINE-1 activity is now considered a hallmark of cancer. 
      DNA hypomethylation of the LINE-1 promoter leads to transcriptional derepression and LINE-1 retrotransposition. 
      However, the details of this LINE-1 activation remain poorly understood. It remains unclear why a few “hot” elements 
      dominate this reactivation, and whether there are additional check-points that LINE-1 must evade between 
      transcription and reinsertion.
    </p>
    <p class="text-justify leading-tight text-sm">
      Analyzing  multiomic pancancer data, we confirmed correlations between LINE-1 expression, 
      p53 mutation status, and copy number alteration, and found indications that LINE-1 activity 
      may induce replication stress in human tumors. 
      In endometrial cancer, we identified the double-strand breaks-induced 
      ATM-MRN-SMC S phase checkpoint pathway as the primary DNA damage response pathway associated 
      with LINE-1 expression
      (<i><u><a href="https://doi.org/10.1073/pnas.2115999119" target="_blank">McKerrow et al. PNAS 2021</a></u></i>).
   </p>
    <div class="flex-none">
      
    </div>
  </div>

  
  <div class="flex items-cejnter gap-4 mb-6">
    <div class="flex-none">
      
    </div>
    <p class="text-justify leading-tight text-sm">
      <b>Retrotransposition and fertiltiy:</b> Somatic cells employ a number of mechanisms, including DNA methylation, 
      to repress retrotransposition, however, demethylation in germ cells and during early embryo development 
      can lead to retrotransposon activation. De novo genetic variation appearing in sperm has been implicated in a 
      number of psychiatric disorders in offspring, and embryos have markedly high levels of genomic instability 
      which can lead to embryonic arrest and implantation failure. 
      To explore the role of retrotransposition in germ cells and during early embryo development, we used our single-cell methods for detecting detecting novel LINE-1 insertions 
      (<i><u><a href="https://doi.org/10.1098/rstb.2019.0335" target="_blank">McKerrow et al. Phil. Trans. R. Soc. B 2020</a></u></i>),
      to characterize and map LINE-1 insertions in human sperm and embryos.
      Trio analyses of 16 embryos showed a parental origin of all 29 unique LINE-1 insertions i.e. no de novo LINE-1 
      insertions occurred in the parental germline or during embryogenesis 
      (<i><u><a href="https://doi.org/10.1007/s10815-024-03176-9" target="_blank">Kohlrausch et al. J Assist Reprod Genet 2024</a></u></i>).
      In sperm, we identified 17 novel insertions from 10 cells from differnt indiviuals, and only one of these did not exhibit 
      any new insertions, and no difference was observed by paternal age - this study identifies new contributors to genetic diversity in the human germ line 
      (<i><u><a href="https://doi.org/10.1007/s10815-023-02852-6" target="_blank">Berteli et al. J Assist Reprod Genet 2023</a></u></i>).
   </p>
  </div>


</Layout>
