
---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research: ">

  <div class="flex items-cejnter gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      <b>:</b> 
    </p>
    <div class="flex-none">
      <img
        src="/images/research/blank.jpg"
        alt=" "
      />
    </div>
  </div>

</Layout>
