---
import Layout from "@layouts/Layout.astro";
import MemberCard from "@components/MemberCard.astro";

import alumni from "@data/alumni.json";

interface Member {
  image: string;
  firstName: string;
  lastName: string;
  position: string;
  suffix?: string;
  email?: string;
}
---

<Layout title="Alumni">
  <div class="flex">
    <a href="/members/" class="pr-2">Members</a> | <a
      href="/alumni/"
      class="pl-2 font-bold underline">Alumni</a
    >
  </div>
  {
    Object.entries(alumni).map(([group, members]) => (
      <ul class="list-none mb-8">
        <li class="font-bold">{group}</li>
        <ul class="list-none space-y-8">
          {members.map((member: Member) => (
            <MemberCard {...member} />
          ))}
        </ul>
      </ul>
    ))
  }
</Layout>
