---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="text-sm">
    <div class="flex gap-4 h-64">
      <div class="text-justify">
        <div class="mb-4">
          We are located on the 9th Floor of Science Building at NYU Langone
          Medical Center, 435 East 30th Street, New York, NY 10016.
        </div>
        <div>
          <p>E-mail: Info@FenyoLab.org</p>
          <p>
          </p>
        </div>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9672444824637!2d-73.97643882360067!3d40.74074627138931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2590e595f7331%3A0xfa1aba67e1371640!2s435%20E%2030th%20St%2C%20New%20York%2C%20NY%2010016!5e0!3m2!1sen!2sus!4v1703876627983!5m2!1sen!2sus"
        style="border:0;"
        width="300"
        height="256"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</Layout>
