---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Overview">
  <p class="text-sm leading-tight text-justify mb-16">
    The Laboratory of Computational Proteomics headed by David Fenyö has as its
    research goal the detailed understanding of the dynamics of cellular
    processes. The lab applies mathematical statistical and computational
    methods to experimental design optimization, quantitative data analysis, and
    biological systems modeling. The focus of this research is proteomic data
    analysis: to develop methods and databases for protein identification,
    characterization and quantitation using mass spectrometry-based
    technologies.
  </p>

  <div class="w-full h-64 bg-green-500">Slideshow</div>
</Layout>
