---
import SlideShow from "@components/SlideShow.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title=" ">
  <div class="flex flex-col h-full">
    <div class="flex-none">
      <p class="text-sm leading-tight text-justify mb-8">
        The Fenyo Lab focuses on elucidating the dynamics of cellular processes in health and disease. 
        We develop computational and machine learning methods and apply them to integrate multi-omics, 
        tissue imaging and electronic health record data to increase our understanding of tumor biology.
      </p>
    </div>

    <div class="grow overflow-hidden">
      <SlideShow />
    </div>
  </div>
</Layout>
