---
import CardGroup from "@components/CardGroup.astro";
import Layout from "@layouts/Layout.astro";

import groups from "@data/people.json";

const summarize = [
  "Interns / Visitors / Rotation Students / Master's Students",
];
---

<Layout title="People">
  <div class="flex">
    <a href="/people/" class="pr-2 font-bold underline">Current</a> | <a
      href="/alumni/"
      class="pl-2">Alumni</a
    >
  </div>
  <ul class="list-none mb-8">
    {
      Object.entries(groups).map(([group, members]) => (
        <>
          <CardGroup
            group={group}
            members={members}
            summary={summarize.includes(group)}
          />
        </>
      ))
    }
  </ul>
</Layout>
