---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Research">
  <div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/identification.jpg"
        alt="A plot suggesting a comparison of histograms for identification"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      Mass spectrometry based <a
        class="underline text-slate-600 italic"
        href="/proteomics"><b>proteomics</b></a
      > is widely used in biological research. We develop methods for protein
      identification, quantitation, and for validation of the results, including
      algorithms for for finding and integrating mass spectrometric peptide
      peaks, detecting interference to obtain a robust measure of the amount of
      proteins present in samples, searching protein sequence collections and
      spectral libraries as well as validation of the results using expectation
      values, rho-diagrams, and spectrum databases.
    </p>
  </div>
  <div class="flex items-center gap-4 mb-6">
    <p class="text-justify leading-tight text-sm">
      We develop computational methods for <a
        class="underline text-slate-600 italic"
        href="/integration"><b>integration</b></a
      > of genomics, transcriptomics, proteomics and metabolomics data within
      the NCI funded <a
        class="underline text-slate-600 italic"
        href="http://proteomics.cancer.gov/"
        target="_blank">Clinical Proteomic Tumor Analysis Consortium (CPTAC)</a
      > and <a
        class="underline text-slate-600 italic"
        href="http://cancer.med.nyu.edu/"
        target="_blank">NYU Cancer Institute</a
      >. In these projects we develop methods for analysis, integration and
      visualization of multi-omics tumor data to gain understanding of cancer
      biology and to discover and verify biomarkers for guiding treatment.
    </p>

    <div class="flex-none">
      <img
        src="/images/research/integration.png"
        alt="A heatmap showing how integrative data can be visualized and analyzed"
      />
    </div>
  </div>
  <div class="flex items-center gap-4 mb-6">
    <div class="flex-none">
      <img
        src="/images/research/simulation.png"
        alt="A plot showing simulated data compared to experimental data"
      />
    </div>
    <p class="text-justify leading-tight text-sm">
      <a class="underline text-slate-600 italic" href="/modeling-simulation"
        ><b>Modeling and Simulation</b></a
      > of biological systems. We develop models of biological systems and use
      computer simulations to test the models and compare them to experimental
      data.
    </p>
  </div>
</Layout>
