---
interface SlideShowImage {
  default: ImageMetadata;
}
const images = await Astro.glob<SlideShowImage>(
  "/public/images/slideshow/*.{png,jpg}"
);
function shuffleArray(array: SlideShowImage[]) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}

shuffleArray(images);
---

<div class="h-full">
  <slide-image class="block w-full h-full">
    <div class="relative w-full h-full">
      {
        images.map((i) => (
          <div class="absolute top-0 bottom-0 left-0 right-0">
            <img
              class="transition-opacity duration-1000 ease-in-out opacity-0 w-full h-full object-contain"
              src={i.default.src}
            />
          </div>
        ))
      }
    </div>

    <button>next!</button>
  </slide-image>
</div>

<script>
  class SlideImage extends HTMLElement {
    currentImage = 0;
    images: NodeListOf<HTMLImageElement> | undefined = undefined;
    constructor() {
      super();
      this.images = this.querySelectorAll("img");
      if (this.images.length == 0) return;
      this.nextImage();
    }

    nextImage() {
      const self = this;
      if (this.images == undefined) return;
      this.images[this.currentImage].classList.add("opacity-0");
      this.currentImage = (this.currentImage + 1) % this.images.length;
      this.images[this.currentImage].classList.remove("opacity-0");
      setTimeout(() => self.nextImage(), 10000);
    }
  }

  customElements.define("slide-image", SlideImage);
</script>
