---
import Sidebar from "@layouts/Sidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen max-h-screen bg-logo">
    <div class="lg:w-1024 mx-auto h-full">
      <div class="flex flex-col h-full overflow-hidden">
        <div class="h-16 flex-none sticky top-0 z-10">
          <div class="flex items-center w-full h-full">
            <div class="flex-none items-center justify-center w-64">
              <div class="w-60 pl-4">
                <img src="/images/logo.png" alt="logo" />
              </div>
            </div>
            <div
              class="flex flex-col h-full items-center justify-center mx-auto font-serif font-bold"
            >
              <p class="text-lg">Laboratory of Computational Proteomics</p>
              <p class="text-sm">{title}</p>
            </div>
          </div>
        </div>
        <div class="flex w-full h-full overflow-hidden">
          <div class="flex-none w-64 h-full">
            <Sidebar />
          </div>
          <div class="flex-1 w-full px-4 pt-6 h-full">
            <div class="overflow-y-scroll h-full pr-3 pb-24">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
