---

---

<div class="flex flex-col items-center h-full justify-between py-8">
  <ul class="list-none font-serif font-bold space-y-3">
    <li><a href="/">Overview</a></li>
    <li><a href="/research/">Research</a></li>
    <li><a href="/members/">Members</a></li>
    <li><a href="/publications/">Publications</a></li>
    <li><a href="/presentations/">Presentations</a></li>
    <li><a href="/tools/">Tools</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>

  <div class="flex flex-col items-center w-full">
    <div class="flex flex-col w-32 items-center gap-4">
      <a
        class="font-bold font-serif text-sm text-nyu-purple text-center"
        href="https://med.nyu.edu/institute-systems-genetics/"
        target="_blank">Institute for Systems Genetics</a
      >
      <a href="http://www.med.nyu.edu/" target="_blank"
        ><img
          width="96"
          src="/images/sponsors/logo_nyulmc_transparent.png"
          alt="NYU Langone logo"
        /></a
      >
      <a href="http://www.nih.gov/" target="_blank"
        ><img
          width="64"
          src="/images/sponsors/NIH_logo.svg"
          alt="NIH logo"
        /></a
      >
      <a href="http://cancer.gov/" target="_blank"
        ><img
          width="64"
          src="/images/sponsors/US-NIH-NCI-Logo.svg"
          alt="NIH logo"
          alt="NCI logo"
        /></a
      >
      <a href="http://www.nigms.nih.gov/" target="_blank"
        ><img
          width="56"
          src="/images/sponsors/nigms-logo.jpg"
          alt="NIGMS logo"
        />
      </a>
      <a href="http://nij.gov/" target="_blank"
        ><img
          width="64"
          src="/images/sponsors/nij-logo.svg"
          alt="NIJ logo"
        /></a
      >
      <a href="http://www.nist.gov/" target="_blank"
        ><img
          width="64"
          src="/images/sponsors/NIST_logo.svg"
          alt="NIST logo"
        /></a
      >
    </div>
  </div>
</div>
